:root {
  --body-bg-color: #f9f9fd;
  --white-color: #fff;
  --dark-text-color: #212121;
  --accent-color: #2196f3;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  color: var(--dark-text-color);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  width: 480px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.field {
  margin-bottom: 40px;
  position: relative;
}

.input {
  border: 1px solid #212121;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
}

.label {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;

  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  transition: transform 250ms var(--timing-fn);
}

.field:focus-within .label {
  transform: translateY(-40px);
}

.input:not(:placeholder-shown) + .label {
  transform: translateY(-40px);
}

.operation-label {
  margin-right: 10px;
}

.selected-operation {
  border-radius: 4px;
}

button {
  display: block;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.field-result {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

span {
  margin: 0 auto;
  font-size: 30px;
}
